body {
  font-family: sans-serif;
  background-color: #F9DCF0;
  padding: 0 5%;
}

h1 {
  font-family: serif;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-family: cursive;
  font-size: 30px;
  font-weight: 1000;
  color: #ED1C24;
  text-align: center;
}

h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
}

ul {
  line-height: 1.5;
}

ol {
  line-height: 1.5;
}

p intro. {
  font-size: 0.8em;
  line-height: 1;
  padding: 1em;
  border: 0.2em solid
  text-align: center;
  color: #EC008C;
}

p. intro {
  border: 0.2em solid
  text-align: center;
}
