body {
  font-family: sans-serif;
  background-color: #F9DCF0;
  padding: 0 5%;
  max-width: 20em;
}

h1 {
  font-family: serif;
  font-size: 3.5em;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-family: cursive;
  font-size: 2.25em;
  font-weight: 900;
  color: #ED1C24;
  text-align: center;
}

h3 {
  font-family: serif;
  font-size: 1.8em;
  font-weight: 600;
}

ul {
  line-height: 1.75;
}

ol {
  line-height: 1.75;
}

p.intro {
  font-family: serif;
  font-size: 1.8em;
  line-height: 1;
  padding: 0.5em;
  border: 0.2em solid;
  text-align: center;
  color: #EC008C;
}
